.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 98%;
  height: 100vh;
  margin-inline: auto;
  padding: var(--padding-vertical);
  gap: 12px;

  &__top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
  }
}

.title {
  font-size: 20px;
}

.artist {
  font-size: 12px;
  font-weight: 400;
}