:root {
  --color-dark-primary: #1E1E1E;
  --color-accent-white: #6F6F6F;
  --color-red: #AD0000;
  --color-purple: #462F56;
  --color-white: #FFFFFF;
  --color-white-primary: rgba(255, 255, 255, 0.8);
  --color-player: rgba(15, 15, 15, 0.7);
  --color-tile: #0F0F0F;
  --color-tile-alt: rgba(0, 0, 0, 0.35);

  --padding-vertical: 12px 0;

  --border-radius: 20px;
  --border-radius-card-img: 5px;

  --font-family-base: 'Lato', 'sans-serif';

  --transition-duration: 0.3;
}
